<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" enctype="multipart/form-data">
    {{ form }}
    {% csrf_token %}
    <button >Send</button>
</form>

</body>
</html>