<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'add_user' %}">Добавить пользователей</a>
<br>
<h4>Найти похожих пользователей</h4>
<button id="hoshu_photo_button">По камере</button>
&nbsp;&nbsp;&nbsp;
<label for="photo_input" class="btn">По фото</label>
<input type="file" accept="image/*" id="photo_input">

<div id="users"></div>

<script src="https://code.jquery.com/jquery-git.min.js"></script>
<script>
    const PORT = location.port ? ':' + location.port : '';
    const BASEURL = `${location.protocol}//${location.hostname}${PORT}`;

    function findSimilarUsersFromCamera() {
        const url = `${BASEURL}/api/v1/users/similar/camera`;
        $.get(url).done(drawUsers)
    }
    $('#hoshu_photo_button').click(findSimilarUsersFromCamera);

    function findSimilarUsersByPhoto() {
        const fileInput = $('#photo_input');
        const files = fileInput.prop('files');
        if (files.length === 0) {
            alert('File was not found');
            return
        }
        const photo = files[0];

        const formData = new FormData();
        formData.append('photo', photo);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        const url = `${BASEURL}/api/v1/users/similar/photo`;
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            dataType : "json",
            cache: false,
            contentType: false,
            processData: false,
        }).done(drawUsers).error((data)=>{alert(data)});
    }
    $('#photo_input').change(findSimilarUsersByPhoto);

    const drawUsers = (userData) => {
        const usersDiv = $('#users');
        usersDiv.html('');

        const img = `<img src="data:image/png;base64, ${userData.frame}">`;
        usersDiv.append($(`<div>${img}</div>`));
        usersDiv.append($(`<br><br>`));

        userData.items.forEach((dataInfo) => {
            usersDiv.append(
                $(`<div> ${dataInfo.username}: ${dataInfo.distance}</div>`)
            );
            usersDiv.append(
                $(`<img src="${dataInfo.photo}" width="200">`)
            );
            usersDiv.append(
                $('<br>')
            );
        });
    };
</script>
</body>
</html>